{namespace fl=Causal\FileList\ViewHelpers}

<f:for each="{files}" as="file">

    <figure>
        <a href="{f:uri.image(image: file, maxWidth: 1200, maxHeight: 800)}"
            rel="lightbox[gallery_{data.uid}]"
            title="{file.properties.description}">

            <fl:thumbnail image="{file}" width="256c" height="256c" />
        </a>
        <figcaption>
            <f:if condition="{file.properties.description}">
                <f:then>{file.properties.description}</f:then>
                <f:else>
                    <f:if condition="{file.properties.title}">
                        <f:then>{file.properties.title}</f:then>
                        <f:else>{file.name}</f:else>
                    </f:if>
                </f:else>
            </f:if>
        </figcaption>
    </figure>

</f:for>

<f:cObject typoscriptObjectPath="lib.filelist" />

test2